
body{
    background: url(imagem/Muslady-flauta-transversal-prateada-flauta-profissional-com-orif-cio-fechado-e-16-furos-flauta-transversal-revestida.jpg_Q90.jpg_.webp);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(25, 230, 76);
    }